*{
    margin: 0;
}
audio{
    margin-top: 5px;
    width: 100vw;
}
img{
    margin: 10px 0 0 10px;
    border: 2px black solid;
    width:200px;
    height:200px;
}

.episode-container{
    margin-top: 2px;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
}